extends layout

block content
    div.container
        table.table.table-striped
            thead
                tr
                    th Title
                    th Income
                    th Outcome
                    th Profit
                    th Action
            tbody
                tr
                    td
                        input#title
                    td
                        input#income(type='number')
                    td
                        input#oucome(type='number')
                    td
                        input#profit(type='number')
                    td
                        #add.a.btn.btn-success.glyphicon.glyphicon-plus
                each row, i in rows
                    tr
                        td #{row.title}
                        td #{row.income}
                        td #{row.outcome}
                        td #{row.profit}
                        td
                            a.btn.btn-danger.glyphicon.glyphicon-remove(id='#{row.id}')
    div.footer

