extends layout

block content
    h1= title
    p Welcome to #{title}
    div.container
        div.content
            table.table.table-striped
                thead
                    tr
                        th Title
                        th Income
                        th Outcome
                        th Profit
                tbody
                    each row, i in rows
                        tr
                            td #{row.title}
                            td #{row.income}
                            td #{row.outcome}
                            td #{row.profit}
    div.footer

